* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik';
}

html {
    scroll-behavior: smooth
}

:root {
    --background-color: rgb(255, 255, 255);
    --nav-color: rgb(134, 134, 134);
}

body {
    background-color: var(--background-color);
}

/* navigation styles below */
#top-color {
    background-color: var(--nav-color);
    position: absolute;
    top: 0;
    width: 100%;
    height: 50px;
}

nav {
    position: fixed;
    display: flex;
    width: 100%;
    top: 0;
    justify-content: space-evenly;
    background-color: rgba(134, 134, 134, 0.5);
    backdrop-filter: blur(6px);
    z-index: 999;
}

nav a {
    text-decoration: none;
    font-size: 25px;
    color: black;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.541);
    padding: 10px;
    transition: 0.2s;
}

nav a:hover {
    text-decoration: underline;
}
/* navigation styles above */

/* header styles below */
header {
    display: flex;
    flex-wrap: wrap;
    padding-top: 130px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 100px;
    background: linear-gradient(var(--nav-color), var(--background-color));
}

.image-box {
    width: 50%;
    display: flex;
    justify-content: center;
}

.image-box img {
    border-radius: 50%;
    width: 70%;
}

.title-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-box h1 {
    font-size: 60px;
}

.title-box div {
    font-size: 30px;
}

.links {
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    font-size: 25px;
}

.links a {
    text-decoration: none;
    font-size: 38px;
    color: black;
    transition: 0.2s;
}

.github:hover {
    color: rgb(0, 179, 0);
    text-shadow: -1px 0 0 rgb(0, 179, 0);
}

.linkedin:hover {
    color: rgb(0, 121, 219);
    text-shadow: -1px 0 0 rgb(0, 121, 219);
}

.instagram:hover {
    color: rgb(216, 0, 198);
    text-shadow: -1px 0 0 rgb(216, 0, 198);
}
/* header styles above */

/* background style below */
.info {
    display: flex;
}

.info-section {
    display: flex;
    margin: 300px 30px;
}

h3 {
    font-size: 45px;
    border-left: 3px solid black;
    border-radius: 10px;
}

.info-section h3 {
    padding-left: 6%;
    text-align: center;
    width: 50%;
}

.info-section article {
    font-size: 20px;
    width: 50%;
    text-align: center;
}

.bold {
    font-weight: bold;
}

.info-list {
    list-style-position: inside;
    list-style-type: none;
}
/* info style above */

/* projects style below */
.projects h2 {
    width: 100%;
    text-align: center;
    font-size: 55px;
} 

.project-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-box > a {
    width: 40vw;
    height: 30vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
    border: 3px solid var(--nav-color);
    border-radius: 2vw 2vw 2vw 0;
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    color: black;
    filter: grayscale(1);
    transition: 0.3s;
}

.project-box > a:hover {
    filter: grayscale(0);
    border-color: black;
}

.bottom-left {
    font-size: 26px;
    line-height: 0.8;
    font-family: 'Roboto Mono';
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-top-right-radius: 5px;
    padding: 2px 5px;
    background-color: rgb(255, 255, 255, 0.5);
    backdrop-filter: blur(6px);
}

#project-1 {
    width: 90vw;
    background-image: url("../images/project-1.png");
    background-size: cover;
}

#run-buddy {
    background-image: url("../images/run-buddy.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#project-3{
    background-image: url("../images/Password.png");
    background-size: cover;
    background-repeat: no-repeat;
}

/* commented out until the projects get added
#project-4, #project-5 {
       
} */

/* projects style above */

/* contact section below */
footer {
    display: flex;
    height: 20vh;
    background: linear-gradient(var(--background-color), var(--nav-color));
}

footer h2, 
footer ul {
    margin: auto;
}

footer h2 {
    display: flex;
    justify-content: flex-end;
    margin-right: 0px;
    font-size: 35px;
}

footer ul {
    list-style-position: inside;
    list-style-type: none;
}


footer ul li {
    font-size: 25px;
    text-align: center;
}

footer ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: 0.2s;
    line-height: 1.5;
}

.email:hover {
    color: rgb(119, 0, 255);
    text-shadow: -1px 0 0 rgb(119, 0, 255);
}

/* contact section above */

/* media queries for smaller screens */
@media screen and (max-width: 1215px) {
    .image-box img {
        width: 50%;
    }
    
    .image-box, .title-box {
        width: 100vw;
    }

    .title-box h1, .title-box div {
        text-align: center;
    }
    
    .bottom-left {
        font-size: 23px;
        width: 100%;
        text-align: center;
        border-top: 1px solid black;
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 2vw;
        padding: 1px 2px;
    }
}

@media screen and (max-width: 948px) {
    h3 {
        border-bottom-left-radius: 0;
    }

    #info article {
        border-left: 3px solid black;
        border-bottom-left-radius: 10px;
        padding: 20px;
    }

    .info-section {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .info-section h3 {
        padding-left: 0;
        width: 100%;
        font-size: 50px;
    }

    .info-section article {
        font-size: 25px;
        width: 100%;
    }

    footer {
        flex-direction: column;
        height: 35vh;
    }

    footer h2, footer div, footer ul {
        width: 100%;
        margin: auto;
        text-align: center;
    }

    footer h2 {
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    header {
        margin-bottom: 0;
    }
    
    .links {
        flex-direction: column;
        align-items: center;
    }
    
    .links a {
        margin: 10px auto;
        font-size: 35px;
    }  
}
