* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --background-color: rgb(255, 255, 255);
    --nav-color: rgb(134, 134, 134);
}

body {
    background-color: var(--background-color);
}

#top-color {
    background-color: var(--nav-color);
    position: absolute;
    top: 0;
    width: 100%;
    height: 50px;
}

/* navigation styles below */
nav {
    position: fixed;
    display: flex;
    width: 100%;
    top: 0;
    justify-content: space-evenly;
    background-color: rgba(134, 134, 134, 0.5);
    backdrop-filter: blur(6px);
    z-index: 999;
}

nav a {
    text-decoration: none;
    font-size: 25px;
    color: black;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.541);
    padding: 10px;
}
/* navigation styles above */

/* header styles below */
header {
    display: flex;
    flex-wrap: wrap;
    padding-top: 130px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 100px;
    background: linear-gradient(var(--nav-color), var(--background-color));
}

.image-box {
    width: 50%;
    display: flex;
    justify-content: center;
}

.image-box img {
    border-radius: 50%;
    width: 70%;
}

.title-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-box h1 {
    font-size: 60px;
}

.title-box div {
    font-size: 30px;
}

.links {
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    font-size: 25px;
}

.links a {
    text-decoration: none;
    color: black;
}

.links a:hover {
    font-weight: bold;
}
/* header styles above */

/* background style starts */
.info {
    display: flex;
}

.info-section {
    display: flex;
    margin: 300px 30px;
}

h3 {
    font-size: 45px;
}

.info-section h3 {
    width: 50%;
}

.info-section article {
    font-size: 20px;
    width: 50%;
}

.projects h2 {
    width: 100%;
    border: 1px solid black;
    text-align: center;
    font-size: 55px;
} 

.project-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-box > a {
    width: 40vw;
    height: 30vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
    border: 1px solid black;
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    color: black;
}

.project-box > a:hover {
    background-color: blue;
    backdrop-filter: blur(6px);
}

.bottom-left {
    font-size: 30px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-top-right-radius: 5px;
    padding: 2px 5px;
    background-color: rgb(255, 255, 255, 0.5);
    backdrop-filter: blur(6px);
}

#project-1 {
    width: 90vw;
}

/* aplication style ends */

/* contact section starts */
.contact {
    background-color: var(--nav-color);
}
/* contact section ends */

/* media query for smaller desktop screens and smaller */
@media screen and (max-width: 1215px) {
    .image-box img {
        width: 50%;
    }
    
    .image-box, .title-box {
        width: 100vw;
    }

    .title-box h1, .title-box div {
        text-align: center;
    }
}

/* media query for tablets and smaller */
@media screen and (max-width: 768px) {
    header {
        margin-bottom: 0;
    }
    
    .links {
        flex-direction: column;
        align-items: center;
    }
    
    .links a {
        margin: 10px auto;
        font-size: 35px;
    }
}

/* media query for mobile phones and smaller */
@media screen and (max-width: 575px) {
    
}