* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --lightest-blue: #d8e9f3;
    --light-blue: #b2d3e6;
    --regular-blue: #8dbdd8;
    --dark-blue: #68a7ca;
    --darkest-blue: #4390bc;
}

body {
    background-color: var(--darkest-blue);
}

.resume-body {
    background-color: var(--light-blue);
    border: 1px solid black;
    width: 90%;
    float: right;
}

/* navigation style start */
nav {
    border: 1px solid black;
    background-color: var(--regular-blue);
    position: fixed;
    display: flex;
    width: 10%;
    flex-wrap: wrap;
    top: 20px
}

nav a {
    margin: 10px auto;
    width: 100%;
    align-items: stretch;
    text-decoration: none;
    color: white;
    text-shadow: 0 0 2px black;
}
/* navigation style ends */

/* header style start */
/* header {
    padding-top: 20px;
    padding-left: 5%;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
}

.title {
    width: 100%;
}

#title-hello {
    font-size: 60px;
    line-height: 1.4;
}

#title-name {
    font-size: 100px;
}

#title-job {
    font-size: 35px;
    margin-left: 10%;
    line-height: 1.6;
}

.links {
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;    

}

.links a {
    text-decoration: none;
    color: black;
    font-size: 28px;
    line-height: 1.6;
} 

header img {
    position: absolute;
    right: 20px;
    top: 20px;
    border-radius: 50%;
    width: 20%;
}*/

header {
    display: flex;
}

header > * {
    border: 1px solid black;
}

header img {
    border-radius: 50%;
    height: 100%;
    width: 10%;
}

/* header style ends */

/* personal information style starts */
.info {
    margin: 20px 20px;
    line-height: 1.5;
}



h2 {
    font-size: 40px;
}

.info div {
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: var(--darkest-blue);
}

#certifications {
    background-color: var(--dark-blue);
}

.info div article {
    font-size: 28px;
}

#certifications ul li, #skillsets ul li {
    margin-left: 3%;
    font-size: 28px;
}
/* personal information style ends */

/* project style start */
#applications h2 {
    display: flex;
    justify-content: center;
}
.projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.projects div {
    border: 1px solid black;
    margin: 10px auto;
    height: 60px;
    display: flex;
    align-items: flex-end;

}

.projects div:not(:first-child) {
    width: 45%;
}

.projects div:first-child {
    width: 95%;
    margin-top: 5px;
}
/* project style ends */

/* footer style start */
footer {
    display: flex;
    justify-content: center;
}

footer h3 {
    font-size: 30px;
}
/* footer style ends */

/* media query for smaller desktop screens and smaller */
@media screen and (max-width: 980px) {
    .resume-body {
        width: 100%;
    }

    nav {
        width: 100%;
        top: 0;
    }
    
    nav a {
        justify-content: space-evenly;
        width: auto;
        font-size: 30px;
    }

    header {
        padding-top: 80px;
    }

    .links {
        width: 50%;
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-evenly;    
    
    }
    
    .links a {
        text-decoration: none;
        color: black;
        font-size: 28px;
        line-height: 1.6;
    }
    
}

/* media query for tablets and smaller */
@media screen and (max-width: 768px) {
    
}

/* media query for mobile phones and smaller */
@media screen and (max-width: 575px) {
    
}